<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生管理</title>
</head>
<body>

<h1>学生管理アプリ</h1>

<form th:action="@{/add}" method="post" th:object="${student}">
    名前: <input type="text" th:field="*{name}" /><br>
    国語: <input type="number" th:field="*{japanese}" /><br>
    数学: <input type="number" th:field="*{math}" /><br>
    英語: <input type="number" th:field="*{english}" /><br>
    理科: <input type="number" th:field="*{science}" /><br>
    社会: <input type="number" th:field="*{social}" /><br>
    <button type="submit">登録</button>
</form>

<hr>

<h2>学生一覧</h2>
<a href="/students">一覧を見る</a>


</body>
</html>